{% extends "main/base.html" %}
{% block title %} Nuevo Proyecto {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="userCard">
        <h6>{{user.username}}<a href="/logout"> | salir</a></h6>
    </div>
{% endif%}

<div class="home">
<h1> Nuevo Proyecto </h1>
{% if user.is_authenticated %}
    <form method="post" action="/create/">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{form.name}}
            <div class="input-group-prepend">
                <button type="submit", name="save", class="btn btn-danger">Crear proyecto</button>
            </div>
        </div>
    </form> 
{% else %} 
    <p> Para crear un proyecto, inicia sesión <a href="/login">aquí</a></p>
{% endif %}
</div>
{% endblock %}

