{% extends "main/base.html" %}
{% block title %} View List {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3> {{ls.name}}</h3>
        <form method="POST" action="#">
            {% csrf_token %}
            {% for item in ls.item_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text"> 
                        {% if item.complete %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}" checked>
                        {% else %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}">
                        {% endif %}
                    </div>
                </div>
                <input type="text", value="{{item.text}}" class="form-control">
            </div>
            {% endfor %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                    <button type="submit", name="new_item", value="new_item", class="btn btn-success">Add Item</button>    
                <input type="text", name="new_text">
            </div>
            <button type="submit", name="save", value="save", class="btn btn-success">Save</button>    
        </form>
    {% else %}
        <p>To see the contents of a list log in <a href="/login">here</a></p>
    {% endif %}
{% endblock %}